extends layout

block page
  .page__header: .container: .page__header--row
    h1 Jeneva apartment
    .breadcrumbs: ul
      li: a(href="")
        svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 20 20'): path(d='M16.8 9.6l-6.3-5.9a.8.8 0 0 0-.5-.2l-.5.2-6.3 5.9c-.2.1-.2.3-.2.4.1.2.3.2.4.2h.7v5.2c0 .6.5 1 1 1h3.2V13h3.1v3.6h3.3c.6 0 1-.5 1-1v-5.2h.7l.4-.2c.2-.3.2-.5 0-.6z')
        span Home
      li: span Jeneva apartment
  .page__apartment
    .container
      .row
        .col.md__6
          .page__apartment--gallery(data-popup="gallery")
            .gallery__main
              a.thumb(href="img/IMG_01.jpg" title="Jeneva apartment", data-plugin="img-to-bg", data-src="img/IMG_01.jpg")
                .overlay: svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 32 32'): path(d='M17.6 8h-3.2v6.4H8v3.2h6.4V24h3.2v-6.4H24v-3.2h-6.4V8zM16 0C7.2 0 0 7.2 0 16s7.2 16 16 16h12.8c1.8 0 3.2-1.4 3.2-3.2V16A16 16 0 0 0 16 0zm0 28.8C8.9 28.8 3.2 23.1 3.2 16 3.2 8.9 8.9 3.2 16 3.2S28.8 8.9 28.8 16c0 7.1-5.7 12.8-12.8 12.8z')
              .gallery__main--footer
                button.control(data-toggle="active"): svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 26 25'): path(d='M24.7 9.2c-.6-.6-1.5-.9-2.3-.9h-5.6v-4c.1-1.4-.4-2.7-1.5-3.6a4.6 4.6 0 0 0-3.8-.5c-.3.1-.4.3-.4.6v4.5c0 1.5-.8 2.9-2.1 3.7-.7.5-1.4.9-2.2 1.1h-.2c-.2-.3-.7-.6-1.1-.6H1.3c-.7 0-1.3.6-1.3 1.4V23c0 .7.6 1.3 1.3 1.3h4.2c.4 0 .8-.2 1-.5.7.8 1.6 1.2 2.6 1.2h11.1c2.5 0 4-1.3 4.3-3.5l1.4-8.9c.3-1.3-.2-2.5-1.2-3.4zM5.5 23s0 .1 0 0H1.3V10.9h4.2V23zm19.2-10.6l-1.4 8.9c-.2 1.6-1.2 2.4-3 2.4H9.1c-1.1 0-2.1-.8-2.3-2V11.5l.3-.1a9 9 0 0 0 2.6-1.3 6 6 0 0 0 2.7-4.8v-4c.8-.2 1.5 0 2.2.4.7.7 1.1 1.6 1 2.6V9c0 .4.3.6.6.6h6.3c.5 0 1.1.2 1.5.6.5.5.8 1.4.7 2.2z')
                button.control(data-toggle="active"): svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 26 25'): path(d='M24 7.9l-6.3-.5-.3-.2L15 1.3C14.6.2 13.3-.3 12.2.1A2 2 0 0 0 11 1.3l-2.4 6-.3.2L2 8C.8 8-.1 9.1 0 10.3c0 .6.3 1.1.7 1.5l4.9 4.1.1.3-1.5 6.2c-.3 1.1.3 2.3 1.4 2.6h.7a2 2 0 0 0 1.1-.3l5.4-3.4c.1-.1.3-.1.4 0l5.4 3.3c.3.2.7.3 1.1.3a2 2 0 0 0 1.6-.8c.4-.5.6-1.2.4-1.8l-1.5-6.2.1-.3 5-4.1a2 2 0 0 0 .6-2.3c-.3-.8-1-1.4-1.9-1.5zm.5 2.8l-5 4.1c-.5.4-.7 1.1-.6 1.7l1.5 6.2c.1.3 0 .5-.2.7-.1.2-.4.3-.6.3l-.4-.2-5.4-3.4c-.3-.2-.6-.2-.9-.2l-.9.3-5.4 3.4c-.3.2-.8.1-1-.2a.6.6 0 0 1-.1-.7L7 16.5c.1-.6-.1-1.3-.6-1.7l-4.9-4.1a.7.7 0 0 1-.2-.9c.1-.3.4-.5.7-.6l6.3-.5c.6 0 1.2-.4 1.4-1l2.4-5.9c.2-.4.6-.6 1.1-.5.2.1.4.2.5.5l2.4 5.9c.2.6.8 1 1.4 1l6.5.6c.3 0 .6.2.7.6.1.2 0 .6-.2.8z')
                button.control(data-toggle="active"): svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 26 26'): path(d='M24.6.1a.7.7 0 0 0-.8-.4l-.3.2C22.2 1.4 19.2 2 16 2.5c-5.8 1-13 2.3-13.9 10.4-.3 2.4.3 4.8 1.7 6.7C2 21.3.8 23.3 0 25.4c-.1.3.1.7.4.8.3.1.7-.1.8-.4.8-1.9 1.8-3.6 3.3-5.1 2.1 2.4 5.3 3.7 8.8 3.7 4.3 0 7.6-1.6 9.9-4.8 4-5.9 3-15.1 1.4-19.5zm-2.5 18.7c-1.9 2.8-4.9 4.2-8.8 4.2-3.2 0-6-1.2-7.9-3.3 1.7-1.5 3.6-2.5 5.4-3.2l.3-.1c2.9-1 5.4-1.2 6.3-1 .4.1.7-.1.8-.5.1-.4-.1-.7-.5-.8l-1.9-.1c2.4-1.6 4.2-3.6 5.3-6.1.2-.3 0-.7-.3-.9-.3-.2-.7 0-.9.3-1.7 3.5-4.7 6-9.2 7.7.7-1.6.9-3.5 0-5.3-.2-.3-.6-.5-.9-.3-.3.2-.5.6-.3.9 1.2 2.3 0 4.6-1 5.7-1.4.7-2.8 1.6-4 2.6A8.4 8.4 0 0 1 3.2 13c.9-7 7-8.1 12.9-9.2a19 19 0 0 0 7.5-2.3c1.4 4.5 2 12.3-1.5 17.3z')


            .gallery__thumbs
              .gallery__thumbs--item: a.thumb(href="img/IMG_02.jpg" title="Jeneva apartment", data-plugin="img-to-bg", data-src="img/IMG_02.jpg")
                .overlay: svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 32 32'): path(d='M17.6 8h-3.2v6.4H8v3.2h6.4V24h3.2v-6.4H24v-3.2h-6.4V8zM16 0C7.2 0 0 7.2 0 16s7.2 16 16 16h12.8c1.8 0 3.2-1.4 3.2-3.2V16A16 16 0 0 0 16 0zm0 28.8C8.9 28.8 3.2 23.1 3.2 16 3.2 8.9 8.9 3.2 16 3.2S28.8 8.9 28.8 16c0 7.1-5.7 12.8-12.8 12.8z')
              .gallery__thumbs--item: a.thumb(href="img/IMG_03.jpg" title="Jeneva apartment", data-plugin="img-to-bg", data-src="img/IMG_03.jpg")
                .overlay: svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 32 32'): path(d='M17.6 8h-3.2v6.4H8v3.2h6.4V24h3.2v-6.4H24v-3.2h-6.4V8zM16 0C7.2 0 0 7.2 0 16s7.2 16 16 16h12.8c1.8 0 3.2-1.4 3.2-3.2V16A16 16 0 0 0 16 0zm0 28.8C8.9 28.8 3.2 23.1 3.2 16 3.2 8.9 8.9 3.2 16 3.2S28.8 8.9 28.8 16c0 7.1-5.7 12.8-12.8 12.8z')
              .gallery__thumbs--item: a.thumb(href="img/IMG_04.jpg" title="Jeneva apartment", data-plugin="img-to-bg", data-src="img/IMG_04.jpg")
                .overlay: svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 32 32'): path(d='M17.6 8h-3.2v6.4H8v3.2h6.4V24h3.2v-6.4H24v-3.2h-6.4V8zM16 0C7.2 0 0 7.2 0 16s7.2 16 16 16h12.8c1.8 0 3.2-1.4 3.2-3.2V16A16 16 0 0 0 16 0zm0 28.8C8.9 28.8 3.2 23.1 3.2 16 3.2 8.9 8.9 3.2 16 3.2S28.8 8.9 28.8 16c0 7.1-5.7 12.8-12.8 12.8z')
              .gallery__thumbs--item: a.thumb(href="img/IMG_05.jpg" title="Jeneva apartment", data-plugin="img-to-bg", data-src="img/IMG_05.jpg")
                .overlay: svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 32 32'): path(d='M17.6 8h-3.2v6.4H8v3.2h6.4V24h3.2v-6.4H24v-3.2h-6.4V8zM16 0C7.2 0 0 7.2 0 16s7.2 16 16 16h12.8c1.8 0 3.2-1.4 3.2-3.2V16A16 16 0 0 0 16 0zm0 28.8C8.9 28.8 3.2 23.1 3.2 16 3.2 8.9 8.9 3.2 16 3.2S28.8 8.9 28.8 16c0 7.1-5.7 12.8-12.8 12.8z')
        .col.md__6
          .page__apartment--text
            .text__wraper
              h2 jeneva apartment
              p <strong>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</strong> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
              p <strong>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</strong> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            .book__wraper: a(data-mfp-src="#request" data-mfp-type="inline").btn.blue: span BOOK
  .page__apartment--description: .container
    .description__heaader characteristic
    .description__body
      .row
        .col.xs__6: strong Location
        .col.xs__6 Belgia
      .row
        .col.xs__6: strong Apartments
        .col.xs__6 12F
      .row
        .col.xs__6: strong Tip
        .col.xs__6 2 rooms
      .row
        .col.xs__6: strong Area
        .col.xs__6  90 m2
      .row
        .col.xs__6: strong Floor
        .col.xs__6  9
      .row
        .col.xs__6: strong Parking
        .col.xs__6  Yes
      .row
        .col.xs__6: strong Terrace
        .col.xs__6  Yes


